{% extends "base.html" %}
{% block title %}Корма{% endblock %}

{% block content %}
<h1>Корма для рыб</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Название</th>
      <th>Белки %</th>
      <th>Жиры %</th>
      <th>Индекс загрязнения</th>
    </tr>
  </thead>
  <tbody>
    {% for food in foods %}
    <tr>
      <td>{{ food.name }}</td>
      <td>{{ food.protein_percent }}</td>
      <td>{{ food.fat_percent }}</td>
      <td>{{ food.pollution_index }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}