{% extends "base.html" %}
{% block title %}Виды рыб{% endblock %}

{% block content %}
<h1>Виды рыб</h1>

<div class="row">
{% for f in fish %}
  <div class="col-md-4 mb-3">
    <div class="card h-100">
      <div class="card-body">
        <h5 class="card-title">{{ f.name }}</h5>
        <p class="card-text">
          Средний вес: {{ f.average_weight_grams }} г<br>
          Коэф. кормления: {{ f.feeding_coefficient }}<br>
          Фактор отходов: {{ f.waste_factor }}
        </p>
      </div>
    </div>
  </div>
{% endfor %}
</div>
{% endblock %}